
body {
  background-color: #919191;
}

h2 {
  margin-top: 300px;
  text-align: center;
}

.modalContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  margin-top: 45px;
}

#amount {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#walletButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  align-items: center;
}

button {
  border: none;
  font-size: 15px;
  border-radius: 6px;
  padding: 8px;
  margin: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Helvetica;
  font-weight: 100;
}

button:hover {
  background-color: rgb(78, 78, 78);
}

input {
  height: 20px;
}

.message {
  margin-top: 25px;
  text-align: center;
}